
<%= link_to "<-- Go back", "/"%>
<h1>Cart</h1>

<% @cartitems.each do |product|%>
  <p><%=product.product.name%></p>
<% end %>

<%=form_with model: @purchase, url:"/cart" do |form|%>

<%=form.submit "Checkout"%>

<%end%>

