

<h1> Viewing product info for: <%=@product.name%> </h1>

<p> Price: <%=@product.description%> </p>
<p> Description</p>
<%if admin?%>
<%= render "form", product: @product %>


  <p><%= link_to "Destroy", product_path(@product), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
    </p>


<%end%>
<%if customer?%>
<button> add to cart </button>
<%end%>